
body {
    background-color: rgb(109, 180, 234) ;
}
.titleDiv {
    align-items: center;
    border: 10px;
    border-style: solid;
    border-color: cadetblue;
    border-width: 70%;
    background-color: rgba(237, 15, 15, 0.855) ;
    border-radius: 10px;
}